version: '3.1'

services:

  portainer:
    image: tekanaid/portainer:1.16.4
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: always

  influxdb:
    image: tekanaid/influxdb:1.5.1
    volumes: 
      - ~/influxdb:/var/lib/influxdb
    restart: always

  chronograf:
    image: tekanaid/chronograf:1.4
    ports:
      - 8888:8888
    volumes: 
      - ~/chronograf:/var/lib/chronograf
    restart: always

  grafana:
    image: tekanaid/grafana:5.0.3
    ports:
      - 3000:3000
    volumes: 
      - ~/grafana:/var/lib/grafana
    restart: always

  home-assistant:
    image: tekanaid/homeassistant:0.60
    ports:
      - 8123:8123
    environment:
      TZ: America/Toronto
    volumes: 
      - ~/HomeAssistant:/config
    restart: always  

  duckdns:
    image: tekanaid/duckdns:110
    environment:
      TZ: America/Toronto
      TOKEN: <token>
      SUBDOMAINS: <subdomains>
    restart: always  
  
  openvpn:
    image: tekanaid/openvpn:124
    volumes: 
      - ~/openvpn_as:/config
    environment: 
      TZ=America/Toronto
      INTERFACE: ens160
    restart: always
    privileged: true
    network_mode: "host"

volumes:
  portainer_data:
